
.img{
  border-radius: 50%;
  height: 50%;
  margin: 0 auto;
  
}
/* .menu1{
  display: flex;
  justify-content: center;
  flex-direction:row;
} */
.menu2{
  background-color: #84cc16;
}
.imgg{
margin-left:35%;
}
.card{
  height: 330px;
  
}
body{
  background-color: #f1f2f6
}
.just{
  display: flex;
  justify-content: space-between;
  
}
.just>button{
  width: 30%;
}
.just>input{
  width: 30%;
  text-align: center;
}